.DS_Store
node_modules
.env
*.tgz
# Hardhat files
/cache
/contracts/artifacts
/contracts/cache
/contracts/node_modules
/contracts/deployments

js-api/test/dist/
js-api/dist
js-api/dist
js-api/dist

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
